table{
    width: 50%;
    margin: 0 auto;
}
.btn{
    font-size: 4rem;
    width: 400px;
    height: 200px;
    background-color: blueviolet;
    color: azure;
}
.btn:hover{
    background-color: rgb(232, 138, 243);
}