body{
    background-color: #F5F5F7;
}
h1{
    color:#2C3E50 ;
}
h2{
    color: #8E44AD
}
.center-text{
    text-align: center;
    padding: 10px;
}
#logo img{
    margin-right: auto; 
    margin-left : auto;
    display : block
}
h2 span{
    color: #E67E22;
    font-size: 0.75em;
}
#copyright{
    padding-top: 12px;
    font-size: 0.75em;
}
p{
    line-height: 1.5;
    margin: 5px;
}
span{
    font-weight: bold;
}
img{
    width: 150px;
}
